<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <div class="home-head-box">
        <h1 class="home-head-text">ONLINE MEDICAL STORE</h1>
        <div class="login-box">
            <h3 class="sub-head login-sub-head">{% block subhead %} {% endblock %}</h3>
            {% block content %} {% endblock %}
        </div>
    </div>  

</body>
</html>