{% extends 'base.html' %}
{% block title %}user-edit{% endblock %}
{% block home-nav %} <a href="../admin">Home</a> {% endblock %}
{% block subhead %}Edit User Details{% endblock %}
{% block content %}
<form action="" method="post" class="login-form">
    {% csrf_token %}
    <div class="table-div"> 
        <table class="table emp-data-table form-table">
            <tr>
                <td><label for="name">First Name</label></td>
                <td><input type="text" name="first_name" value="{{ emp_obj.first_name }}" required></td>
            </tr>
            <tr>
                <td><label for="name">Last Name</label></td>
                <td><input type="text" name="last_name" value="{{ emp_obj.last_name }}" required></td>
            </tr>
            <tr>
                <td><label for="name">Username</label></td>
                <td><input type="text" name="username" value="{{ emp_obj.username }}" required></td>
            </tr>
            <tr>
                <td><label for="name">Email</label></td>
                <td><input type="text" name="email" value="{{ emp_obj.email }}" required></td>
            </tr>
            <tr>
                <td><label for="name">Age</label></td>
                <td><input type="text" name="age" value="{{ emp_obj.age }}" required></td>
            </tr>
            <tr>
                <td><label for="name">Phone Number</label></td>
                <td><input type="text" name="phone_number" value="{{ emp_obj.phone_number }}" required></td>
            </tr>
            <tr>
                <td><label for="name">Salary</label></td>
                <td><input type="text" name="salary" value="{{ emp_obj.salary }}" required></td>
            </tr>
            <tr>
                <div class="form-btn form-btn-div">
                    <td><a class="btn btn-login" href="../emp_data">Back</a></td>
                    <td><button class="btn btn-approve" type="submit">Save</button></td>
                </div>
                
            </tr>
            <tr>
                
            </tr>
        </table>
    </div>
</form>
{% endblock %}