{% extends 'base.html' %}
{% block title %}medicine{% endblock %}
{% block home-nav %} <a href="../employee">Home</a> {% endblock %}
{% block profile-nav %} <a href="profile_emp/{{user.id}}">Welcome {{ user.username }}</a> {% endblock %}
{% block subhead %} Add New Medicine {% endblock %}
{% block content %}

    <form action="" method="post" class="login-form">
        {% csrf_token %}
        <div class="table-div">
            <table class="table emp-data-table form-table form-div">
                {{form.as_table}}
                
            </table>
            <div class="form-btn-div form-btn">
                <h4><a class="btn btn-login" href="../employee">Back</a>
                    <button type="submit" class="btn btn-register">Add</button></h4>
            </div>
            
        </div>
        
    </form>

{% endblock %} 